<div class="flex gap-5 text-2xl text-lighter">
  <a
    aria-label="Email me (opens email client)"
    href="mailto:anahera.tech@gmail.com"
    ><i class="fa-solid fa-envelope hover:text-purple duration-150 ease-in-out"
    ></i></a
  >
  <a
    target="_blank"
    rel="noreferrer noopener"
    aria-label="Github (opens in a new tab)"
    href="https://github.com/anaherawashere"
    ><i class="fa-brands fa-github hover:text-purple duration-150 ease-in-out"
    ></i></a
  >
  <a
    target="_blank"
    rel="noreferrer noopener"
    aria-label="Linkedin (opens in a new tab)"
    href="https://www.linkedin.com/in/afoleypaama/"
    ><i class="fa-brands fa-linkedin hover:text-purple duration-150 ease-in-out"
    ></i></a
  >
</div>
