<div class="flex gap-5 text-2xl text-lighter">
  <a aria-label="Github" href="https://github.com/anaherawashere"
    ><i
      class="fa-brands fa-github hover:text-purple duration-150 ease-in-out"
    ></i></a
  >
  <a aria-label="Linkedin" href="https://www.linkedin.com/in/afoleypaama/"
    ><i
      class="fa-brands fa-linkedin hover:text-purple duration-150 ease-in-out"
    ></i></a
  >
</div>
