---
import SectionHeading from "../SectionHeading.astro";
---

<div id="about">
  <SectionHeading>About</SectionHeading>
  <div class="lg:px-6">
    <p class="mb-4">
      After years of strategy and creative solutions in the fundraising space, I
      made the leap into web development. I’m passionate about bringing ideas to
      life through code, and I’ve been sharpening my skills in front-end and
      back-end development. Whether it’s building user-friendly websites or
      designing efficient APIs, I’m always looking for ways to solve problems
      and create meaningful digital experiences.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit, euismod curabitur
      vivamus metus netus interdum, iaculis leo integer hendrerit egestas felis.
    </p>
  </div>
</div>
