---
import SectionHeading from '../SectionHeading.astro'
---

<div id="about">
  <SectionHeading>About</SectionHeading>
  <div class="lg:px-6">
    <p class="mb-4">
      After years of developing creative strategies in the digital fundraising
      world, working with charities across NZ and Australia, I discovered a
      passion for coding that led me to transition into web development.
    </p><p class="mb-4">
      Now, as a Full Stack Web Developer, I’m focused on building digital
      experiences that are as beautiful as they are functional. I enjoy using
      code to bring bright ideas to life and solve real-world problems. My
      current project involves learning Astro to build and refine my portfolio,
      pushing myself to explore new technologies and keep growing.
    </p><p class="mb-4">
      Outside of coding, I’m passionate about making communities more inclusive
      and accessible for young people. When I’m not at my computer, you’ll
      probably find me caring for my plants or hunting for vintage furniture.
    </p>
  </div>
</div>
