---
import SectionHeading from '../SectionHeading.astro'
---

<div id="about">
  <SectionHeading>About</SectionHeading>
  <div class="lg:px-6">
    <p class="mb-4">
      After years of developing creative strategies in the digital fundraising
      space, working with charities across New Zealand and Australia, I
      discovered a passion for coding that led me to transition into web
      development.
    </p><p class="mb-4">
      Now, as a Full Stack Web Developer, I’m constantly learning new ways to
      bring bright ideas to life through code, solving real-world problems along
      the way. My current project involves learning Astro to build and refine my
      portfolio, allowing me to explore new technologies and continue growing.
    </p><p class="mb-4">
      I’m deeply committed to creating a more inclusive, accessible, and
      sustainable future for both people and the planet. When I’m not coding,
      you’ll likely find me tending to my plants or hunting for the perfect
      vintage furniture find.
    </p>
  </div>
</div>
