---
import SectionHeading from "../SectionHeading.astro";
import SectionSubheading from "../SectionSubheading.astro";
---

<div id="about">
  <SectionHeading>About</SectionHeading>
  <SectionSubheading
    >Here are some of my recent projects. I'm always working on something new,
    so check back often!</SectionSubheading
  >
  <div class="lg:px-6">
    <p class="font-thin">
      After years of strategy and creative solutions in the fundraising space, I
      made the leap into web development. I’m passionate about bringing ideas to
      life through code, and I’ve been sharpening my skills in front-end and
      back-end development. Whether it’s building user-friendly websites or
      designing efficient APIs, I’m always looking for ways to solve problems
      and create meaningful digital experiences.
    </p>
  </div>
</div>
