---
import PageHeading from "../components/PageHeading.astro";
import ProjectTable from "../components/ProjectArchive/ProjectTable.astro";
import ButtonNav from "../components/utils/Buttons/Button_BackNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Archive | Anahera Foley-Paama">
  <div class="relative w-full max-w-6xl mx-auto py-16">
    <div class="">
      <ButtonNav />
      <PageHeading>Archive</PageHeading>
      <ProjectTable />
    </div>
  </div>
</Layout>
