---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro/Intro.astro";
import About from "../components/About/About.astro";
import Projects from "../components/Projects/Projects.astro";
import Experience from "../components/Experience/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Anahera Foley-Paama">
  <div class="relative w-full max-w-3xl mx-auto py-5 lg:py-16">
    <Header />
    <div class="flex flex-col gap-20 lg:gap-36">
      <Intro />
      <About />
      <Projects />
      <Experience />
      <Footer />
    </div>
  </div>
</Layout>
