---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Home/Intro.astro";
import About from "../components/Home/About.astro";
import Projects from "../components/Home/Projects.astro";
import SectionDivider from "../components/SectionDivider.astro";
---

<Layout title="Anahera Foley-Paama">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-20 xl:px-0"
  >
    <Intro />
    <SectionDivider />
    <About />
    <SectionDivider />
    <Projects />
  </div>
</Layout>
