<a href="/" class="group flex gap-x-2 font-semibold text-zinc-900 hover:text-yellow-800 ease-in"
  ><span><i class="fa-solid fa-arrow-left text-sm group-hover:-translate-x-2 ease-out duration-200"></i></span>Anahera Foley-Paama</a
>
