---
import ButtonCta from "../Buttons/ButtonCta.astro";
import ButtonIcon from "../Buttons/ButtonIcon.astro";
---

<div class="flex flex-col items-center gap-6">
  <div class="relative">
    <div
      class="overflow-hidden p-3 w-48 h-48 border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
    >
      <div class="rounded-full overflow-hidden">
        <img src="/images/anahera.jpeg" alt="" />
      </div>
    </div>
    <div class="w-16 h-16 rounded-full absolute -bottom-1">
      <span
        class="flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
      >
        <span
          class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
          >👋</span
        >
      </span>
    </div>
  </div>
  <div class="relative w-full md:w-1/2 text-center">
    <h1 class="mb-6 text-3xl leading-tight dark:text-white">
      Kia ora, I'm Anahera.
    </h1>
    <h2 class="mb-6 text-xl text-neutral-500 dark:text-white">
      I am a Full Stack Web Developer based in Auckland, New Zealand.
    </h2>
    <p
      class="mb-2 text-lg font-semibold text-neutral-800 dark:text-neutral-200"
    >
      Tech stack
    </p>
    <img
      src="https://skillicons.dev/icons?i=html,css,js,ts,react,nodejs,express,vitest,sqlite,git,tailwind,scss,figma"
      alt="tech stack icons for html, css, js, ts, react, nodejs, express, vitest, sqlite, git, tailwind, scss, figma"
      class="mb-8"
    />
    <ButtonCta
      text="Contact me here"
      icon="&rarr;"
      link="https://twitter.com/0xKaiBi"
    />
    <ButtonIcon
      icon="linkedin"
      link="https://www.linkedin.com/in/afoleypaama/"
      type="brands"
      size="2xl"
    />
    <ButtonIcon
      icon="github"
      link="https://github.com/anaherawashere"
      type="brands"
      size="2xl"
    />
  </div>
</div>