<footer class="lg:px-6">
  <p class="text-sm">
    This design was inspired by <a
      href="https://brittanychiang.com/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Brittany Chiang</a
    > and coded in <a
      href="https://code.visualstudio.com/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Visual Studio Code</a
    > by yours truly. Built with <a
      href="https://astro.build/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Astro</a
    > and <a
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Tailwind CSS</a
    >, deployed with <a
      href="https://railway.app/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Railway</a
    >. All text is set in the <a
      href="https://rsms.me/inter/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-semibold hover:text-purple">Inter</a> typeface.
  </p>
</footer>
