---
interface Props {
  size: string
}

const { size } = Astro.props
---

<div class="relative">
  <div class={`overflow-hidden w-${size} h-${size} rounded-full border-2`}>
    <img
      src="/images/anahera.jpeg"
      alt="Anahera"
      class="object-cover"
    />
  </div>
</div>
