---
import SocialLinks from "../utils/ButtonGroups/SocialLinks.astro";
import ProfileImage from "../ProfileImage.astro";
---

<div class="lg:px-6">
  <ProfileImage />
  <h1 class="mt-4 text-3xl lg:text-4xl font-bold tracking-tight text-heading sm:text-5xl">
    Anahera Foley-Paama
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight sm:text-xl text-heading">
    Junior Full Stack Developer
  </h2>
  <p class="mt-4 mb-12 max-w-sm leading-normal">
    I am constantly learning how to build beautiful, engaging, and accessible
    digital experiences.
  </p>
  <SocialLinks />
</div>
