---
import SocialLinks from "../utils/ButtonGroups/SocialLinks.astro";
import ProfileImage from "../ProfileImage.astro";
---

<div class="lg:px-6">
  <ProfileImage size="28"/>
  <h1 class="mt-4 text-3xl lg:text-4xl font-semibold tracking-tight text-heading sm:text-5xl">
    Anahera Foley-Paama
  </h1>
  <h2 class="mt-3 text-lg font-medium tracking-tight sm:text-xl text-heading">
    Full Stack Developer · Auckland, NZ
  </h2>
  <p class="mt-4 mb-12 max-w-md leading-normal">
    I blend curiosity and code to build digital experiences that are as beautiful as they are impactful.
  </p>
  <SocialLinks />
</div>
