---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Kia ora, I'm Anahera Foley-Paama, a Full Stack Web Developer based in Auckland, New Zealand.",
  image = "/images/anahera.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="logo.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <title>{title}</title>
    <script src="../../src/styles/main.css"></script>
    <script
      src="https://kit.fontawesome.com/dd5f4b129b.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="min-h-screen px-6 lg:px-16 bg-lightest text-body leading-7">
    <slot />
  </body>
</html>
